<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Modbus_MSzankowski.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Modbus_MSzankowski.My.MySettings>
      <setting name="AdresIP" serializeAs="String">
        <value>192.168.1.1</value>
      </setting>
      <setting name="port2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="baud2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="parity2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DataBit2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StopBit2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="groupBoxMode2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rejestr10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rejestr11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rejestr12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rejestr13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rejestr14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iloscDoOdczytu" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="rejOpis10" serializeAs="String">
        <value>opis_user</value>
      </setting>
      <setting name="rejOpis11" serializeAs="String">
        <value>opis_user</value>
      </setting>
      <setting name="rejOpis12" serializeAs="String">
        <value>opis_user</value>
      </setting>
      <setting name="rejOpis13" serializeAs="String">
        <value>opis_user</value>
      </setting>
      <setting name="rejOpis14" serializeAs="String">
        <value>opis_user</value>
      </setting>
      <setting name="rejDecHex10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rejDecHex11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rejDecHex12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rejDecHex13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rejDecHex14" serializeAs="String">
        <value>False</value>
      </setting>
    </Modbus_MSzankowski.My.MySettings>
  </userSettings>
</configuration>
